<%- include('header'); %>

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2><%-title%></h2>
            <ol class="breadcrumb">
             <li><a href="#">Trang Chủ</a></li>            
             <li class="active"><%-title%></li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                         <figure class="mu-latest-course-img">
                           <a><img src="assets/img/courses/kh1.jpg" alt="img"></a>
                           <figcaption class="mu-latest-course-imgcaption">
                             <a href="#">Toán</a>
                             <span><i class="fa fa-clock-o"></i>3 tháng</span>
                           </figcaption>
                         </figure>
                         <div class="mu-latest-course-single-content">
                           <h2><a>Lớp luyện đề thi Toán THPT</a></h2>
                           <h4>Thông Tin Lớp Học</h4>
                           <ul>
                             <li> <span>Học Phí</span> <span>1.500.000vnđ</span></li>
                             <li> <span>Mục Tiêu Lớp Học</span> <span>Nắm vững kiến thức Toán học lớp 12 ở mức độ cơ bản.</span></li>
                             <li> <span>Số Lượng Học Viên</span> <span>50</span></li>
                             <li> <span>Số Lượng Buổi</span> <span>3</span></li>
                             <li> <span>Ngày Khai Giảng</span> <span>11/07/2021</span></li>
                           </ul>
                           <h4>Mô Tả</h4>
                           <p>Tham gia luyện thi đại học môn Toán với thầy Trung chắc chắn học sinh sẽ luôn được động viên tinh thần cũng như từng bước cải thiện điểm số và chinh phục bài thi môn Toán.</p>
                           <h4>Thời Khoá Biểu</h4>
                           <div class="table-responsive">
                             <table class="table">
                             <thead>
                               <tr>
                                 <th> Thứ </th>
                                 <th> Bắt Đầu </th>
                                 <th> Kết Thúc </th>
                                 
                               </tr>
                             </thead>
                             <tbody>
                               <tr>
                                 <td> 2 </td>
                                 
                                 <td> 07:00 </td>
                                 <td> 08:30 </td>
                               </tr>
                               <tr>
                                 <td> 4 </td>
                                 
                                 <td> 07:00 </td>
                                 <td> 08:30 </td>
                               </tr>
                               <tr>
                                 <td> 6 </td>
                                 
                                 <td> 07:00 </td>
                                 <td> 08:30 </td>
                               </tr>
                               
                             </tbody>
                           </table>
                           <a class="mu-post-btn" href="">ĐĂNG KÝ</a>
                           </div>
                         </div>
                       </div> 
                     </div>                                   
                   </div>
                 </div>
                 <!-- end course content container -->
                 <!-- start related course item -->
                 <div class="row">
                   <div class="col-md-12">
                     <div class="mu-related-item">
                   <h3>Các Lớp Học Liên Quan</h3>
                   <div class="mu-related-item-area">
                     <div id="mu-related-item-slide">
                       <div class="col-md-6">
                        <div class="mu-latest-course-single">
                            <figure class="mu-latest-course-img">
                              <a href="course-detail"><img src="assets/img/courses/kh1.jpg" alt="img"></a>
                              <figcaption class="mu-latest-course-imgcaption">
                                <a href="#">Toán</a>
                                <span><i class="fa fa-clock-o"></i>3 Tháng</span>
                              </figcaption>
                            </figure>
                            <div class="mu-latest-course-single-content">
                             <h4><a href="course-detail">Học tốt toán 12</a></h4>
                             <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                              <div class="mu-latest-course-single-contbottom">
                                 <a class="mu-course-details" href="course-detail">Chi Tiết</a>
                                 <span class="mu-course-price">1.500.000vnđ</span>
                              </div>
                            </div>
                          </div> 
                       </div>
                       <div class="col-md-6">
                        <div class="mu-latest-course-single">
                            <figure class="mu-latest-course-img">
                              <a href="course-detail"><img src="assets/img/courses/kh1.jpg" alt="img"></a>
                              <figcaption class="mu-latest-course-imgcaption">
                                <a href="#">Toán</a>
                                <span><i class="fa fa-clock-o"></i>3 Tháng</span>
                              </figcaption>
                            </figure>
                            <div class="mu-latest-course-single-content">
                             <h4><a href="course-detail">Học tốt toán 12</a></h4>
                             <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                              <div class="mu-latest-course-single-contbottom">
                                 <a class="mu-course-details" href="course-detail">Chi Tiết</a>
                                 <span class="mu-course-price">1.500.000vnđ</span>
                              </div>
                            </div>
                          </div> 
                       </div>
                       <div class="col-md-6">
                        <div class="mu-latest-course-single">
                            <figure class="mu-latest-course-img">
                              <a href="course-detail"><img src="assets/img/courses/kh1.jpg" alt="img"></a>
                              <figcaption class="mu-latest-course-imgcaption">
                                <a href="#">Toán</a>
                                <span><i class="fa fa-clock-o"></i>3 Tháng</span>
                              </figcaption>
                            </figure>
                            <div class="mu-latest-course-single-content">
                             <h4><a href="course-detail">Học tốt toán 12</a></h4>
                             <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                              <div class="mu-latest-course-single-contbottom">
                                 <a class="mu-course-details" href="course-detail">Chi Tiết</a>
                                 <span class="mu-course-price">1.500.000vnđ</span>
                              </div>
                            </div>
                          </div> 
                       </div>
                       
                     </div>
                   </div>
                 </div>
                   </div>
                 </div>
                 <!-- end start related course item -->
               </div>
               <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Danh Mục</h3>
                     <ul class="mu-sidebar-catg">
                        <li><a href="#">Toán</a></li>
                        <li><a href="">Hoá Học</a></li>
                        <li><a href="">Vật Lý</a></li>
                        <li><a href="">Sinh Học</a></li>
                        <li><a href="">Anh Văn</a></li>
                        <li><a href="">Ngữ Văn</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                    <h3>Khoá Học Phổ Biến</h3>
                    <div class="mu-sidebar-popular-courses">
                      <div class="media">
                        <div class="media-left">
                          <a href="course-detail">
                            <img class="media-object" src="assets/img/courses/kh1.jpg" alt="img">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="course-detail">Học Tốt Toán 11</a></h4>                      
                          <span class="popular-course-price">2.000.000vnđ</span>
                        </div>
                      </div>

                      <div class="media">
                       <div class="media-left">
                         <a href="course-detail">
                           <img class="media-object" src="assets/img/courses/kh1.jpg" alt="img">
                         </a>
                       </div>
                       <div class="media-body">
                         <h4 class="media-heading"><a href="course-detail">Học Tốt Toán 11</a></h4>                      
                         <span class="popular-course-price">2.000.000vnđ</span>
                       </div>
                     </div>

                     <div class="media">
                       <div class="media-left">
                         <a href="course-detail">
                           <img class="media-object" src="assets/img/courses/kh1.jpg" alt="img">
                         </a>
                       </div>
                       <div class="media-body">
                         <h4 class="media-heading"><a href="course-detail">Học Tốt Toán 11</a></h4>                      
                         <span class="popular-course-price">2.000.000vnđ</span>
                       </div>
                     </div>
                      
                     
                    </div>
                  </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('footer'); %>
