<%- include('header'); %>

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2><%-title%></h2>
            <ol class="breadcrumb">
             <li><a href="#">Trang Chủ</a></li>            
             <li class="active"><%-title%></li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container">
                   <div class="row">
                    <div class="col-md-6 col-sm-6">
                     <div class="mu-latest-course-single">
                       <figure class="mu-latest-course-img">
                         <a href="course-detail"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                         <figcaption class="mu-latest-course-imgcaption">
                           <a href="#">Toán</a>
                           <span><i class="fa fa-clock-o"></i>3 Tháng</span>
                         </figcaption>
                       </figure>
                       <div class="mu-latest-course-single-content">
                        <h4><a href="course-detail">Học tốt toán 12</a></h4>
                        <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                         <div class="mu-latest-course-single-contbottom">
                            <a class="mu-course-details" href="course-detail">Chi Tiết</a>
                            <span class="mu-course-price">1.500.000vnđ</span>
                         </div>
                       </div>
                     </div> 
                   </div>
                   
                   <div class="col-md-6 col-sm-6">
                    <div class="mu-latest-course-single">
                      <figure class="mu-latest-course-img">
                        <a href="course-detail"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                          <a href="#">Toán</a>
                          <span><i class="fa fa-clock-o"></i>3 Tháng</span>
                        </figcaption>
                      </figure>
                      <div class="mu-latest-course-single-content">
                       <h4><a href="course-detail">Học tốt toán 12</a></h4>
                       <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                        <div class="mu-latest-course-single-contbottom">
                           <a class="mu-course-details" href="course-detail">Chi Tiết</a>
                           <span class="mu-course-price">1.500.000vnđ</span>
                        </div>
                      </div>
                    </div> 
                  </div>

                  <div class="col-md-6 col-sm-6">
                    <div class="mu-latest-course-single">
                      <figure class="mu-latest-course-img">
                        <a href="course-detail"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                          <a href="#">Toán</a>
                          <span><i class="fa fa-clock-o"></i>3 Tháng</span>
                        </figcaption>
                      </figure>
                      <div class="mu-latest-course-single-content">
                       <h4><a href="course-detail">Học tốt toán 12</a></h4>
                       <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                        <div class="mu-latest-course-single-contbottom">
                           <a class="mu-course-details" href="course-detail">Chi Tiết</a>
                           <span class="mu-course-price">1.500.000vnđ</span>
                        </div>
                      </div>
                    </div> 
                  </div>

                  <div class="col-md-6 col-sm-6">
                    <div class="mu-latest-course-single">
                      <figure class="mu-latest-course-img">
                        <a href="course-detail"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                          <a href="#">Toán</a>
                          <span><i class="fa fa-clock-o"></i>3 Tháng</span>
                        </figcaption>
                      </figure>
                      <div class="mu-latest-course-single-content">
                       <h4><a href="course-detail">Học tốt toán 12</a></h4>
                       <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                        <div class="mu-latest-course-single-contbottom">
                           <a class="mu-course-details" href="course-detail">Chi Tiết</a>
                           <span class="mu-course-price">1.500.000vnđ</span>
                        </div>
                      </div>
                    </div> 
                  </div>
                  
                   </div>
                 </div>
                 <!-- end course content container -->
                 <!-- start course pagination -->
                 <div class="mu-pagination">
                   <nav>
                     <ul class="pagination">
                       <li>
                         <a href="#" aria-label="Previous">
                           <span class="fa fa-angle-left"></span> Prev 
                         </a>
                       </li>
                       <li class="active"><a href="#">1</a></li>
                       <li><a href="#">2</a></li>
                       <li><a href="#">3</a></li>
                       <li><a href="#">4</a></li>
                       <li><a href="#">5</a></li>
                       <li>
                         <a href="#" aria-label="Next">
                          Next <span class="fa fa-angle-right"></span>
                         </a>
                       </li>
                     </ul>
                   </nav>
                 </div>
                 <!-- end course pagination -->
               </div>
               <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Danh Mục</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Toán</a></li>
                       <li><a href="">Hoá Học</a></li>
                       <li><a href="">Vật Lý</a></li>
                       <li><a href="">Sinh Học</a></li>
                       <li><a href="">Anh Văn</a></li>
                       <li><a href="">Ngữ Văn</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Khoá Học Phổ Biến</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="course-detail">
                             <img class="media-object" src="/assets/img/courses/kh1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="course-detail">Học Tốt Toán 11</a></h4>                      
                           <span class="popular-course-price">2.000.000vnđ</span>
                         </div>
                       </div>

                       <div class="media">
                        <div class="media-left">
                          <a href="course-detail">
                            <img class="media-object" src="/assets/img/courses/kh1.jpg" alt="img">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="course-detail">Học Tốt Toán 11</a></h4>                      
                          <span class="popular-course-price">2.000.000vnđ</span>
                        </div>
                      </div>

                      <div class="media">
                        <div class="media-left">
                          <a href="course-detail">
                            <img class="media-object" src="/assets/img/courses/kh1.jpg" alt="img">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="course-detail">Học Tốt Toán 11</a></h4>                      
                          <span class="popular-course-price">2.000.000vnđ</span>
                        </div>
                      </div>
                       
                     </div>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('footer'); %>