<%- include('header'); %>

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2><%-title%></h2>
            <ol class="breadcrumb">
             <li><a href="#">Trang Chủ</a></li>            
             <li class="active"><%-title%></li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                         <figure class="mu-latest-course-img">
                           <a><img src="assets/img/courses/kh1.jpg" alt="img"></a>
                           <figcaption class="mu-latest-course-imgcaption">
                             <a href="#">Toán</a>
                             <span><i class="fa fa-clock-o"></i>3 tháng</span>
                           </figcaption>
                         </figure>
                         <div class="mu-latest-course-single-content">
                           <h2><a>Học tốt toán 12</a></h2>
                           <h4>Thông Tin Khoá Học</h4>
                           <ul>
                             <li> <span>Học Phí</span> <span>1.500.000vnđ</span></li>
                             <li> <span>Mục Tiêu Khóa Học</span> <span>Nắm vững kiến thức Toán học lớp 12 ở mức độ cơ bản.</span></li>
                             <li> <span>Số Lượng Học Viên</span> <span>50</span></li>
                             <li> <span>Số Lượng Bài Giảng</span> <span>48</span></li>
                             <li> <span>Ngày Tải Lên</span> <span>11/07/2021</span></li>
                           </ul>
                           <h4>Mô Tả</h4>
                           <p>Việc hiểu kĩ các thuật ngữ toán học, các công thức, các định nghĩa là cơ sở vững chắc để các em phát triển năng lực giải toán trắc nghiệm. Thầy Nguyễn Hồ Ngọc Trung sẽ giúp các em hiểu thế nào là đạo hàm, hệ số góc của tiếp tuyến, các công thức lượng giác..... những thuật ngữ các em gặp thường xuyên trong môn Toán nhưng không phải bạn nào cũng hiểu chúng là gì, vì sao lại có công thức đó..., giúp các em nắm vững kiến thức Toán học 12.</p>
                           <h4>Đề Cương Khoá Học</h4>
                           <div class="table-responsive">
                             <table class="table">
                             <thead>
                               <tr>
                                 <th> Tiêu Đề </th>
                                 <th> Thời Lượng </th>
                                 <th> Trạng Thái </th>
                               </tr>
                             </thead>
                             <tbody>
                               <tr>
                                 <td> 1. Topic 1 </td>
                                 
                                 <td> 01:30 </td>
                                 <td> Thành Công </td>
                               </tr>
                               <tr>
                                 <td> 2. Topic 2 </td>
                                 
                                 <td> 01:30 </td>
                                 <td> Thành Công </td>
                               </tr>
                               <tr>
                                 <td> 3. Topic 3 </td>
                                 
                                 <td> 01:30 </td>
                                 <td> Thành Công </td>
                               </tr>
                               <tr>
                                 <td> 4. Topic 4 </td>
                                 
                                 <td> 01:30 </td>
                                 <td> Thành Công </td>
                               </tr>
                               <tr>
                                 <td> 5. Topic 5 </td>
                                 
                                 <td> 01:30 </td>
                                 <td> Đang Chờ </td>
                               </tr>
                               <tr>
                                 <td> 6. Topic 6 </td>
                                 
                                 <td> 01:30 </td>
                                 <td> - </td>
                               </tr>
                             </tbody>
                           </table>
                           <a class="mu-post-btn" href="">ĐĂNG KÝ</a>
                           </div>
                         </div>
                       </div> 
                     </div>                                   
                   </div>
                 </div>
                 <!-- end course content container -->
                 <!-- start related course item -->
                 <div class="row">
                   <div class="col-md-12">
                     <div class="mu-related-item">
                   <h3>Các Khoá Học Liên Quan</h3>
                   <div class="mu-related-item-area">
                     <div id="mu-related-item-slide">
                       <div class="col-md-6">
                        <div class="mu-latest-course-single">
                            <figure class="mu-latest-course-img">
                              <a href="course-detail"><img src="assets/img/courses/kh1.jpg" alt="img"></a>
                              <figcaption class="mu-latest-course-imgcaption">
                                <a href="#">Toán</a>
                                <span><i class="fa fa-clock-o"></i>3 Tháng</span>
                              </figcaption>
                            </figure>
                            <div class="mu-latest-course-single-content">
                             <h4><a href="course-detail">Học tốt toán 12</a></h4>
                             <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                              <div class="mu-latest-course-single-contbottom">
                                 <a class="mu-course-details" href="course-detail">Chi Tiết</a>
                                 <span class="mu-course-price">1.500.000vnđ</span>
                              </div>
                            </div>
                          </div> 
                       </div>
                       <div class="col-md-6">
                        <div class="mu-latest-course-single">
                            <figure class="mu-latest-course-img">
                              <a href="course-detail"><img src="assets/img/courses/kh1.jpg" alt="img"></a>
                              <figcaption class="mu-latest-course-imgcaption">
                                <a href="#">Toán</a>
                                <span><i class="fa fa-clock-o"></i>3 Tháng</span>
                              </figcaption>
                            </figure>
                            <div class="mu-latest-course-single-content">
                             <h4><a href="course-detail">Học tốt toán 12</a></h4>
                             <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                              <div class="mu-latest-course-single-contbottom">
                                 <a class="mu-course-details" href="course-detail">Chi Tiết</a>
                                 <span class="mu-course-price">1.500.000vnđ</span>
                              </div>
                            </div>
                          </div> 
                       </div>
                       <div class="col-md-6">
                        <div class="mu-latest-course-single">
                            <figure class="mu-latest-course-img">
                              <a href="course-detail"><img src="assets/img/courses/kh1.jpg" alt="img"></a>
                              <figcaption class="mu-latest-course-imgcaption">
                                <a href="#">Toán</a>
                                <span><i class="fa fa-clock-o"></i>3 Tháng</span>
                              </figcaption>
                            </figure>
                            <div class="mu-latest-course-single-content">
                             <h4><a href="course-detail">Học tốt toán 12</a></h4>
                             <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                              <div class="mu-latest-course-single-contbottom">
                                 <a class="mu-course-details" href="course-detail">Chi Tiết</a>
                                 <span class="mu-course-price">1.500.000vnđ</span>
                              </div>
                            </div>
                          </div> 
                       </div>
                       
                     </div>
                   </div>
                 </div>
                   </div>
                 </div>
                 <!-- end start related course item -->
               </div>
               <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                        <li><a href="#">Toán</a></li>
                        <li><a href="">Hoá Học</a></li>
                        <li><a href="">Vật Lý</a></li>
                        <li><a href="">Sinh Học</a></li>
                        <li><a href="">Anh Văn</a></li>
                        <li><a href="">Ngữ Văn</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                    <h3>Khoá Học Phổ Biến</h3>
                    <div class="mu-sidebar-popular-courses">
                      <div class="media">
                        <div class="media-left">
                          <a href="course-detail">
                            <img class="media-object" src="assets/img/courses/kh1.jpg" alt="img">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="course-detail">Học Tốt Toán 11</a></h4>                      
                          <span class="popular-course-price">2.000.000vnđ</span>
                        </div>
                      </div>

                      <div class="media">
                       <div class="media-left">
                         <a href="course-detail">
                           <img class="media-object" src="assets/img/courses/kh1.jpg" alt="img">
                         </a>
                       </div>
                       <div class="media-body">
                         <h4 class="media-heading"><a href="course-detail">Học Tốt Toán 11</a></h4>                      
                         <span class="popular-course-price">2.000.000vnđ</span>
                       </div>
                     </div>

                     <div class="media">
                       <div class="media-left">
                         <a href="course-detail">
                           <img class="media-object" src="assets/img/courses/kh1.jpg" alt="img">
                         </a>
                       </div>
                       <div class="media-body">
                         <h4 class="media-heading"><a href="course-detail">Học Tốt Toán 11</a></h4>                      
                         <span class="popular-course-price">2.000.000vnđ</span>
                       </div>
                     </div>
                      
                     
                    </div>
                  </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('footer'); %>
