<!-- Start footer -->
<footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Thông Tin</h4>
                <ul>
                  <li><a href="#">Giới Thiệu</a></li>
                  <li><a href="">Dịch Vụ</a></li>
                  <li><a href="">Khoá Học</a></li>
                  <li><a href="">Diễn Đàn</a></li>
                  <li><a href="">Điều khoản chính sách</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Hỗ Trợ</h4>
                <ul>
                  <li><a href="">Hướng dẫn sử dụng</a></li>
                  <li><a href="#">Câu hỏi</a></li>
                  <li><a href="">Đánh giá năng lực</a></li>
                  <li><a href="">Diễn đàn hệ thống</a></li>
                  <li><a href="">Thư viện</a></li>                  
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Đăng ký nhận thông tin</h4>
                <p>Nhận thông báo mới nhất về các cập nhật và lớp học mới.</p>
                <form class="mu-subscribe-form">
                  <input type="email" placeholder="Nhập email của bạn">
                  <button class="mu-subscribe-btn" type="submit">Đăng ký!</button>
                </form>               
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Liên Hệ</h4>
                <address>
                  <p>Khu II, Đ. 3/2, Xuân Khánh, Ninh Kiều, Cần Thơ</p>
                  <p>Điện thoại: 0292 3830 188 </p>
                  <p>Website: www.varsity.com</p>
                  <p>Email: info@varsity.com</p>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy; Mạng gia sư trực tuyến <a href="#" rel="nofollow">Varsity</a> 2021</p>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>
  <!-- End footer -->
  
  <!-- jQuery library -->
  <script src="/assets/js/jquery.min.js"></script>  
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/assets/js/bootstrap.js"></script>   
  <!-- Slick slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>
  <!-- Counter -->
  <script type="text/javascript" src="/assets/js/waypoints.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.counterup.js"></script>  
  <!-- Mixit slider -->
  <script type="text/javascript" src="/assets/js/jquery.mixitup.js"></script>
  <!-- Add fancyBox -->        
  <script type="text/javascript" src="/assets/js/jquery.fancybox.pack.js"></script>
  
  
  
  <!-- Custom js -->
  <script src="/assets/js/custom.js"></script> 