<%- include('header'); %>

<div class="registerclass" style="width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <br>
    <h1> Đăng Ký Tham Gia lớp Học</h1>
    <form class="form-horizontal" method="POST" style="margin: 50px 100px 100px 100px;">
        <p>Nhập Email của bạn:</p>
        <input type="text" id="useremail" class="form-control" name="useremail" style="width: 500px;">
        <input type="hidden" id="password" name="password" value="<%=password%>">
            </br>
        <input type="submit" value="Thanh toán" class="btn btn-primary" style="width: 200px;">
    </form>
</div>


<%- include('footer'); %>
