
  <div>
    <table>
      <tr>
        <td><video id="localStream" width="600px"></video></td>
        
      </tr>
      <tr>
        <td><video id="friendStream" width="600px"></video></td>
      </tr>
    </table>
    

    

    <p>Token</p>
    <textarea id="txtmysignal" cols="500" rows="10"></textarea>

    <br>
    <p>Nhập token:</p>

    <input type="text" name="txtfriendsignal" id="txtfriendsignal" style="width: 400px;">

    <button class="btn btn-primary" id="btnconnect">Kết nối</button>
  </div>
  

  <script type="text/javascript" src="/bundle.js"></script>


 


  

