<%- include('header'); %>

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2><%-title%></h2>
            <ol class="breadcrumb">
             <li><a href="#">Trang Chủ</a></li>            
             <li class="active"><%-title%></li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <!-- Start gallery  -->
  <section id="mu-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-gallery-area">
           <!-- start title -->
           <div class="mu-title">
             <h2>Danh Sách Gia Sư</h2>
             <p>Danh Sách Gia Sư Trên Hệ Thống</p>
           </div>
           <!-- end title -->
           <!-- start gallery content -->
           <div class="mu-gallery-content">
             <!-- Start gallery menu -->
             <div class="mu-gallery-top">              
               <ul>
                 <li class="filter active" data-filter="all">Tất Cả</li>
                 <li class="filter" data-filter=".math">Toán</li>
                 <li class="filter" data-filter=".chemistry">Hoá Học</li>
                 <li class="filter" data-filter=".physical">Vật Lý</li>
                 <li class="filter" data-filter=".biological">Sinh Học</li>
                 <li class="filter" data-filter=".english">Anh Văn</li>
                 <li class="filter" data-filter=".literature">Ngữ Văn</li>
               </ul>
             </div>
             <!-- End gallery menu -->
             <div class="mu-gallery-body">
               <ul id="mixit-container" class="row">
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-12 col-xs-12 mix math">
                  <div class="mu-single-gallery">                  
                    <div class="mu-single-gallery-item">
                      <div class="mu-single-gallery-img">
                        <a href="teacher-detail"><img alt="img" src="/assets/img/teachers/tc1.jpg"></a>
                      </div>
                      <div class="mu-single-gallery-content">
                          <h4>Nguyễn Hồ Ngọc Trung</h4>
                          <p>Gia Sư Toán</p>
                          <a href="teacher-detail" data-fancybox-group="gallery" class="fancybox">Chi Tiết</a>
                      </div>                  
                    </div>
                  </div>
                </li>
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-12 col-xs-12 mix chemistry">
                  <div class="mu-single-gallery">                  
                    <div class="mu-single-gallery-item">
                      <div class="mu-single-gallery-img">
                        <a href="teacher-detail"><img alt="img" src="/assets/img/teachers/tc1.jpg"></a>
                      </div>
                      <div class="mu-single-gallery-content">
                          <h4>Nguyễn Hồ Ngọc Trung</h4>
                          <p>Gia Sư Toán</p>
                          <a href="teacher-detail" data-fancybox-group="gallery" class="fancybox">Chi Tiết</a>
                      </div>                  
                    </div>
                  </div>
                </li>
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-12 col-xs-12 mix physical">
                  <div class="mu-single-gallery">                  
                    <div class="mu-single-gallery-item">
                      <div class="mu-single-gallery-img">
                        <a href="teacher-detail"><img alt="img" src="/assets/img/teachers/tc1.jpg"></a>
                      </div>
                      <div class="mu-single-gallery-content">
                          <h4>Nguyễn Hồ Ngọc Trung</h4>
                          <p>Gia Sư Toán</p>
                          <a href="teacher-detail" data-fancybox-group="gallery" class="fancybox">Chi Tiết</a>
                      </div>                  
                    </div>
                  </div>
                </li>
                 <!-- start single gallery image -->
                 <li class="col-md-4 col-sm-12 col-xs-12 mix biological">
                    <div class="mu-single-gallery">                  
                      <div class="mu-single-gallery-item">
                        <div class="mu-single-gallery-img">
                          <a href="teacher-detail"><img alt="img" src="/assets/img/teachers/tc1.jpg"></a>
                        </div>
                        <div class="mu-single-gallery-content">
                            <h4>Nguyễn Hồ Ngọc Trung</h4>
                            <p>Gia Sư Toán</p>
                            <a href="teacher-detail" data-fancybox-group="gallery" class="fancybox">Chi Tiết</a>
                        </div>                  
                      </div>
                    </div>
                  </li>

                  <li class="col-md-4 col-sm-12 col-xs-12 mix english">
                    <div class="mu-single-gallery">                  
                      <div class="mu-single-gallery-item">
                        <div class="mu-single-gallery-img">
                          <a href="teacher-detail"><img alt="img" src="/assets/img/teachers/tc1.jpg"></a>
                        </div>
                        <div class="mu-single-gallery-content">
                            <h4>Nguyễn Hồ Ngọc Trung</h4>
                            <p>Gia Sư Toán</p>
                            <a href="teacher-detail" data-fancybox-group="gallery" class="fancybox">Chi Tiết</a>
                        </div>                  
                      </div>
                    </div>
                  </li>

                  <li class="col-md-4 col-sm-12 col-xs-12 mix literature">
                    <div class="mu-single-gallery">                  
                      <div class="mu-single-gallery-item">
                        <div class="mu-single-gallery-img">
                          <a href="teacher-detail"><img alt="img" src="/assets/img/teachers/tc1.jpg"></a>
                        </div>
                        <div class="mu-single-gallery-content">
                            <h4>Nguyễn Hồ Ngọc Trung</h4>
                            <p>Gia Sư Toán</p>
                            <a href="teacher-detail" data-fancybox-group="gallery" class="fancybox">Chi Tiết</a>
                        </div>                  
                      </div>
                    </div>
                  </li>

                  

                 <!-- start single gallery image -->
                 
                 <!-- start single gallery image -->
                 
                 <!-- start single gallery image -->
                 
                  <!-- start single gallery image -->
                 
                 <!-- start single gallery image -->
                 
               </ul>            
             </div>
     
           </div>
           <!-- end gallery content -->
                      
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End our teacher -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End gallery  -->

<%- include('footer'); %>
