<%- include('header'); %>

<div style="width: 100%; height: 100vh;">
    <center>
        <br>
        <br>
        <br>
        <H1>Cám Ơn Bạn Đã Liện Hệ Với Chúng Tôi</H1>
        <h3>Chúng Tôi Sẽ Phản Hồi Bạn Sớm Nhất Có Thể</h3>
        <h3>Varsity Xin Chào!</h3>
    </center>
</div>

<%- include('footer') %>