<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%-title%></title>
  <link href="/assets/css/login.css" rel="stylesheet">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover"><a href="login"> Đăng Nhập </a> </h2>
    <h2 class="active"> Đăng Ký </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fa fa-university"></i>
      <img src="/assets/img/logo.png" id="icon" alt="User Icon" />
    </div>
    <%- include('./partials/messages') %>
    <!-- Login Form -->
    <form method="POST">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mật khẩu">
      <input type="password" id="password2" class="fadeIn third" name="password2" placeholder="Nhập lại mật khẩu">
      <input type="submit" class="fadeIn fourth" value="Đăng Ký">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="teacher-register">Đăng Ký Làm Gia Sư</a>
    </div>

  </div>
</div>
</body>
</html>